<div class="page-header-menu">
    <div class="container-fluid">
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="hor-menu hor-menu-light">
            <ul class="nav navbar-nav">
                <li class="menu-dropdown classic-menu-dropdown">
                    <a href="@Url.Action("Index","Home")">
                        Home
                    </a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown">
                    <a href="@Url.Action("Services", "Home")">
                        Services
                    </a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown">
                    <a href="@Url.Action("AboutUs","Home")">
                        About US
                    </a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown">
                    <a href="javascript:;">
                        Contact US
                    </a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown">
                    <a href="@Url.Action("FAQ","Home")">
                        FAQ
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="menu-dropdown classic-menu-dropdown">
                        <a href="@Url.Action("Dashboard","Admin")">
                            Dashboard
                        </a>
                    </li>

                    <li class="menu-dropdown classic-menu-dropdown">
                        <a href="@Url.Action("Index","EngineerInfo")">
                            Engineer Info
                        </a>
                    </li>

                    <li class="menu-dropdown classic-menu-dropdown">
                        <a href="@Url.Action("UserManagement","Admin")">
                            User Management
                        </a>
                    </li>

                    <li class="menu-dropdown classic-menu-dropdown">
                        <a href="#">
                            Administration
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class="">
                                <a href="@Url.Action("CustomerDetails","Admin")" class="nav-link">Customer</a>
                            </li>
                            <li class="">
                                <a href="@Url.Action("EngineerDetails","Admin")" class="nav-link">Engineer</a>
                            </li>
                        </ul>
                    </li>
                }
                else if (User.IsInRole("Customer"))
                {
                    <li class="menu-dropdown classic-menu-dropdown">
                        <a href="@Url.Action("Dashboard","Customer")">
                            Dashboard
                        </a>
                    </li>
                }
                else if (User.IsInRole("Engineer"))
                {
                    <li class="menu-dropdown classic-menu-dropdown">
                        <a href="@Url.Action("Dashboard","Engineer")">
                            Dashboard
                        </a>
                    </li>
                }
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
