@model ServiceApp.Web.Areas.Admin.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").click(function () {
            $("#OldPassword").val("");
            $("#NewPassword").val("");
            $("#ConfirmPassword").val("");
        });
    });
</script>

<!-- BEGIN PAGE BASE CONTENT -->
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <span class="caption-subject bold uppercase">Change Password</span>
        </div>
    </div>
    <div class="portlet-body form">
        @if (ViewData.ModelState.IsValid)
            {
                if (@ViewBag.Message != null)
                {
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    @ViewBag.Message
                </div>
            }
        }

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Validation Errors</strong>
                        @Html.ValidationSummary()
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Current password" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", autocomplete = "off", placeholder = "New password" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Confirm new password" })
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-7">
                        <button type="submit" id="btnChangePassword" class="btn green">Change Password</button>
                        <button type="button" id="btnCancel" class="btn default">Cancel</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
