@model ServiceApp.Web.Areas.Admin.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="~/Areas/Assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {        
        $("#btnCancel").click(function () {
            $("#OldPassword").val("");
            $("#NewPassword").val("");
            $("#ConfirmPassword").val("");
        });
    });
</script>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN PAGE TITLE -->
<div class="page-title">
    <h1>
        Change Password
    </h1>
</div>
<div class="clearfix"> </div>
<!-- END PAGE TITLE -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="profile">
    <div class="tabbable-line tabbable-full-width">
        <div class="tab-content">
            <div class="row profile-account">
                <div class="col-md-9">
                    @if (ViewData.ModelState.IsValid)
                    {
                        if (@ViewBag.Message != null)
                        {
                            <div class="alert alert-success">
                                <a class="close" data-dismiss="alert">×</a>
                                @ViewBag.Message
                            </div>
                        }
                    }

                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert">×</a>
                                <strong>Validation Errors</strong>
                                @Html.ValidationSummary()
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @clsss = "control-label" })
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Current password" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @clsss = "control-label" })
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", autocomplete = "off", placeholder = "New password" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @clsss = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Confirm new password" })
                        </div>
                        <div class="margin-top-10">
                            <button type="submit" id="btnChangePassword" class="btn green">Change Password</button>
                            <button type="button" id="btnCancel" class="btn default">Cancel</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!--end col-md-9-->
    </div>
</div>
<!-- END PAGE BASE CONTENT -->

