@model ServiceApp.Web.Areas.Admin.Models.ForgotPassword

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<h3 class="font-green">Forget Password ?</h3>

@if (ViewData.ModelState.IsValid)
{
    if (@ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            @ViewBag.Message
        </div>
    }
}
<!-- BEGIN FORGOT PASSWORD FORM -->
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forget-form" }))
{
    <p> Enter your e-mail address below to reset your password. </p>
    @Html.AntiForgeryToken();

    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">×</a>
            <strong>Validation Errors</strong>
            @Html.ValidationSummary()
        </div>
    }
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", autocomplete = "off", placeholder = "Email" })
    </div>
    <div class="form-actions">
        <a href="@Url.Action("Login","Account")" id="back id="back-btn" class="btn btn-default">Back To Login</a>
        <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
    </div>
}
<!-- END FORGOT PASSWORD FORM -->
