@model ServiceApp.Web.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").click(function () {
            $("#OldPassword").val("");
            $("#NewPassword").val("");
            $("#ConfirmPassword").val("");
        });
    });
</script>

<!-- BEGIN CHANGE PASSWORD FORM -->
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Change Password</span>
                </div>
            </div>
            <div class="portlet-body">
                @if (ViewData.ModelState.IsValid)
            {
                if (@ViewBag.Message != null)
                {
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert">×</a>
                            @ViewBag.Message
                        </div>
                    }
                }

                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        @if (!ViewData.ModelState.IsValid)
                {
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert">×</a>
                                <strong>Validation Errors</strong>
                                @Html.ValidationSummary()
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label visible-ie8 visible-ie9" })
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", placeholder = "Current password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label visible-ie8 visible-ie9" })
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", placeholder = "New password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label visible-ie8 visible-ie9" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", placeholder = "Confirm new password" })
                            </div>
                        </div>
                        <div class="row form-actions">
                            <div class="pull-right margin-right-10">
                                <button type="submit" id="btnChangePassword" class="btn green uppercase">Change Password</button>
                                <button type="button" id="btnCancel" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- END CHANGE PASSWORD FORM -->
