<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <li class="separator hide"> </li>
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="username username-hide-on-mobile">@User.Identity.Name</span><i class="fa fa-user-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="@Url.Action("ProfileInfo","Admin")">
                            <i class="icon-user"></i> My Profile
                        </a>
                    </li>
                }
                else if (User.IsInRole("Customer"))
                {
                    <li>
                        <a href="@Url.Action("ProfileInfo","Customer")">
                            <i class="icon-user"></i> My Profile
                        </a>
                    </li>
                }
                else if (User.IsInRole("Engineer"))
                {
                    <li>
                        <a href="@Url.Action("ProfileInfo","Engineer")">
                            <i class="icon-user"></i> My Profile
                        </a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("ChangePassword","Account")">

                        <i class="icon-user"></i>Change Password
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LogOut","Account")">
                        <i class="icon-key"></i> Log Out
                    </a>
                </li>
            </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
    </ul>
</div>
